Repository openstack-archive/python-tripleoclient: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-build-containers-ubi-8, tripleo-ci-centos-8-containers-undercloud-minion

tripleo-build-containers-ubi-8:
  dependencies:
  - openstack-tox-pep8
  - openstack-tox-py36
  - openstack-tox-py37
  - tripleo-ci-centos-8-content-provider

tripleo-ci-centos-8-containers-undercloud-minion:
  vars:
    consumer_job: true
    tags:
    - undercloud-setup
    - undercloud-scripts
    - undercloud-install
    - undercloud-validate
  dependencies:
  - openstack-tox-pep8
  - openstack-tox-py36
  - openstack-tox-py37
  - tripleo-ci-centos-8-content-provider

Remove detection of package manager for undercloud upgrade
  tripleoclient/tests/v1/undercloud/test_install_upgrade.py
  tripleoclient/v1/undercloud.py
Due: none

Fix preflight validation
  tripleoclient/v1/undercloud_preflight.py
Due: none

Handle root as a deployment user better
  tripleoclient/utils.py
  tripleoclient/v1/tripleo_deploy.py
Due: tripleo-ci-centos-8-containers-undercloud-minion

Switch deployed-server if nova unavailable
  tripleoclient/v1/overcloud_deploy.py
Due: none

Do not require authentication for the validator CLI
  tripleoclient/utils.py
  tripleoclient/v1/tripleo_validator.py
Due: none

Use TOX_CONSTRAINTS_FILE
  tox.ini
Due: none

Logging refactor
  tripleoclient/tests/v1/overcloud_deploy/test_overcloud_deploy.py
  tripleoclient/v1/overcloud_admin.py
  tripleoclient/v1/overcloud_deploy.py
  tripleoclient/v2/tripleo_container_image.py
Due: tripleo-build-containers-ubi-8

Replace deprecated UPPER_CONSTRAINTS_FILE variable
  tox.ini
Due: none

Extract provisioned networks from stack
  setup.cfg
  tripleoclient/tests/v2/overcloud_network/__init__.py
  tripleoclient/tests/v2/overcloud_network/test_overcloud_network.py
  tripleoclient/v2/overcloud_network.py
Due: none

Add config-download-dir flag to cell export command
  tripleoclient/v1/overcloud_cell.py
Due: none

Removed ubi-8 based jobs
  zuul.d/layout.yaml
Due: none

Use validation framework for running undercloud checkdisk
  tripleoclient/v1/undercloud_preflight.py
Due: none

Remove count/flavor options from overcloud deploy
  releasenotes/notes/remove-flavor-and-count-option-from-overcloud-deploy-c5f0d0a40b013ec4.yaml
  tripleoclient/tests/v1/overcloud_deploy/test_overcloud_deploy.py
  tripleoclient/utils.py
  tripleoclient/v1/overcloud_deploy.py
Due: none

Add detection of package manager for undercloud upgrade
  tripleoclient/tests/v1/undercloud/test_install_upgrade.py
  tripleoclient/v1/undercloud.py
  zuul.d/layout.yaml
Due: none

Map build host repos to distro.repos.d instead of yum.repos.d
  tripleoclient/tests/v2/container_image/test_tripleo_container_image.py
  tripleoclient/v2/tripleo_container_image.py
Due: tripleo-build-containers-ubi-8

Run validation without authentication in particular context
  tripleoclient/v1/tripleo_validator.py
Due: none

Provision composable networks command
  setup.cfg
  tripleoclient/tests/v2/overcloud_network/test_overcloud_network.py
  tripleoclient/v2/overcloud_network.py
Due: none

[Container build] raise Exception post logging error
  tripleoclient/v2/tripleo_container_image.py
Due: tripleo-build-containers-ubi-8

[Container build] raise Exception post logging error
  tripleoclient/v1/tripleo_container_image.py
Due: none

Honor --debug for buildah builder
  lower-constraints.txt
  requirements.txt
  tripleoclient/v1/container_image.py
  tripleoclient/v2/tripleo_container_image.py
Due: tripleo-build-containers-ubi-8

Dumping task key instead of tasks from validation_output
  tripleoclient/v1/tripleo_validator.py
Due: none

Drop experimental for tripleo deploy
  releasenotes/notes/tripleo-deploy-not-experimental-be5bc0df8adecb07.yaml
  tripleoclient/v1/tripleo_deploy.py
Due: tripleo-ci-centos-8-containers-undercloud-minion

Get deployment status to check if plan and stack exists on the env
  tripleoclient/utils.py
  tripleoclient/v1/tripleo_validator.py
Due: none

Add '--network-ports' option to node (un)provision
  tripleoclient/tests/v2/overcloud_node/test_overcloud_node.py
  tripleoclient/v2/overcloud_node.py
Due: none

[train/stein] Handle UseTLSTransportForNbd for previous created envs
  releasenotes/notes/libvirtd_handle_nbd_tls-277e72f07dd867c8.yaml
  tripleoclient/tests/v1/overcloud_deploy/test_overcloud_deploy.py
  tripleoclient/tests/v1/overcloud_update/test_overcloud_update.py
  tripleoclient/v1/overcloud_deploy.py
Due: none

The lower constraint file has been removed
  lower-constraints.txt
  tox.ini
  zuul.d/layout.yaml
Due: none

remove lower-constraints
  zuul.d/layout.yaml
Due: none

[ussuri] Migrate to content provider jobs/template
  zuul.d/layout.yaml
Due: none

Path conditions:
  tripleo-build-containers-ubi-8: any of: ^tripleoclient/v2/tripleo_container_image.py$
  tripleo-ci-centos-8-containers-undercloud-minion: any of: ^config-generator/.*minion.*$, ^tripleoclient/config/.*minion.*$, ^tripleoclient/v1/.*minion.*$, ^tripleoclient/v1/tripleo_deploy.py$
